@page
@model ElearnerWebApp.Pages.Customers.CreateModel

@{
    ViewData["Title"] = "Create";
}
<div class="container">

<h1>Create</h1>

<h4>Accounts</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Accounts.UserName" class="control-label"></label>
                <input asp-for="Accounts.UserName" class="form-control" />
                <span asp-validation-for="Accounts.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Accounts.Email" class="control-label"></label>
                <input asp-for="Accounts.Email" class="form-control" />
                <span asp-validation-for="Accounts.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Accounts.Password" class="control-label"></label>
                <input asp-for="Accounts.Password" class="form-control" />
                <span asp-validation-for="Accounts.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Accounts.PhoneNumber" class="control-label"></label>
                <input asp-for="Accounts.PhoneNumber" class="form-control" />
                <span asp-validation-for="Accounts.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Accounts.Address" class="control-label"></label>
                <input asp-for="Accounts.Address" class="form-control" />
                <span asp-validation-for="Accounts.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Accounts.TopicId" class="control-label"></label>
                <select asp-for="Accounts.TopicId" class ="form-control" asp-items="ViewBag.TopicId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Accounts.Role" class="control-label"></label>
                <input asp-for="Accounts.Role" class="form-control" />
                <span asp-validation-for="Accounts.Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Accounts.Status" class="control-label"></label>
                <select asp-for="Accounts.Status" class ="form-control" asp-items="ViewBag.status"></select>
                <span asp-validation-for="Accounts.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
