@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Elearner</h1>
    <p>Learn more about us at <a href="https://doannguyenquochuy1.wixsite.com/easy-learning">Elearner</a>.</p>
    <p>Follow us at: <a href="https://www.facebook.com/profile.php?id=100086365654006">Facebook</a>.</p>
</div>
